@use '../abstracts' as a;

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: a.$black;
}

.grid-con {
    grid-column: 2/3;
}

.box {
    border: 1px solid a.$white;
    padding: 28px;

    h2, h3 {
        font-size: 30pt;
    }
}

.underline {
    max-width: fit-content;
    padding-bottom: 5px;
    margin: 40px 0 30px 0;
    border-bottom: 2px solid a.$white;
}

.char-selection {
    text-align: center;
}

.directions {
    .underline {
        margin-right: auto;
        margin-left: auto;
    }

    p {
        margin-bottom: 40px;
    }
}

.char-list, .movie-list {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;

    @media (min-width: 768px) {
        gap: 50px;
    }
}

.char-details {
    h2 {
        color: a.$yellow;
    }

    .char-name {
        background-image: url(../images/luke_banner.png);
        padding: 80px 0;

        .box {
            width: fit-content;
            margin-left: 2.5%;
            max-width: 220px;
        }
    }
}

.movies {
    h2 {
        margin-left: auto;
        margin-right: auto;
    }
}