@use '../abstracts' as a;

.character {
    width: calc(50% - 40px);
    margin-bottom: 10px;
    max-width: 160px;

    img {
        width: 100%;
    }

    img:hover {
        opacity: 0.6;
        transition: opacity .1s ease-in;
    }

    img, a {
        cursor: pointer;
    }
}