@use '../abstracts' as a;

.hero {
    background-image: url(../images/hero.png);

    .grid-con {
        padding: 90px 40px;
        align-items: center;
    }
}

.quote {
    margin-bottom: 40px;
    max-width: 520px;

    @media (min-width: 768px) {
        max-width: 200px;
        justify-self: center;
        margin-bottom: 0;
    }
}