@use '../abstracts' as a;

.hero {
    background: url(../images/hero.png) no-repeat;
    background-size: cover;
    background-position: center;

    .grid-con {
        padding: 90px 40px;
        align-items: center;
    }
}

.quote-box {
    padding: 28px;
    margin-bottom: 40px;
    border: 1px solid a.$white;

    h2 {
        font-size: 30pt;
    }

    @media (min-width: 768px) {
        max-width: 200px;
        justify-self: center;
        margin-bottom: 0;
    }
    
}