@use '../abstracts' as a;

.movie {
    padding: 30px;
    
    border-image: linear-gradient(to bottom, #4B6DD3 0%, #950303 100%) 1;
    border-width: 1.5px;
    border-style: solid;

    width: 80%;
    max-width: 300px;
    margin-bottom: 30px;

    img {
        width: 100%;
    }

    .movie-name {
        font-weight: bold;
        text-align: center;
        margin: 20px 0 10px 0;
        padding-bottom: 10px;
        font-size: 18pt;
        border-bottom: 1px solid a.$white;
    }
    
    .movie-release {
        font-size: 12pt;
        line-height: 18pt;
    }

    @media (min-width: 768px) {
        width: 50%;
        max-width: 260px;
    }
}