@use '../abstracts/variables' as v;

p, h1, h2, h3 {
    color: v.$white;
    font-family: v.$body-font-family;
}

h1, h2, h3 {
    font-size: 26pt;
}

p {
    font-size: 14pt;
}

span {
    color: v.$yellow;
}