@use '../abstracts' as a;

#char-selection {
    text-align: center;
}

.directions {
    .underline {
        margin-right: auto;
        margin-left: auto;
    }

    p {
        margin-bottom: 40px;
    }
}

#char-details {
    display: none;

    .yellow {
        color: a.$yellow;
    }

    .char-banner {
        padding: 80px 0;
        align-content: center;

        .box {
            width: fit-content;
            height: fit-content;
            align-content: center;
            margin-left: 2.5%;
            max-width: 220px;
        }
    }

    h3 {
        margin: 60px auto 40px auto;
    }
}

#char-list, #movie-list {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;

    @media (min-width: 768px) {
        gap: 50px;
    }
}